@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* import font */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
.headerContainer{
    display: flex;
    justify-content: space-between;
}

header{
padding: 10px;
}

/* nav */
ul{
    list-style-type: none;
}
li{
    float: left;
}

ul a {
    text-decoration: none;
    color: grey;
    display: block;
    padding: 20px;
    background-color: #2D97B0;
    color: white;
}
ul a:hover {
    background-color: #F5F5F5;
    color: black;
}
ul a:active {
    background-color: #e9e8e8;
    color: white;
}

/* section */

#media-search{
    border: 8px solid #F5F5F5;
    background-color: #F5F5F5;
    padding: 0px 1%;
    height: 3vh;
    display: flex;
    justify-content: space-between;
}

#search-bar{
    border: none;
    background-color: #fff;
    border-radius: 5px;
}
::placeholder {
    color: black;
    opacity: 1;
    padding: 5px;
  }

a img {
    width: 20px;
    margin-left: 20px;
}
a img:hover {
    width: 24px;

}

/* MAIN */
main{
    width: 80vw;
    
}


