@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); /* import font */

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* NAVBAR */
.headerContainer{
    display: flex;
    justify-content: space-between;
}

header{
padding: 10px;
}

/* nav */
ul{
    list-style-type: none;
}
li{
    float: left;
}

ul a {
    text-decoration: none;
    color: grey;
    display: block;
    padding: 20px;
    background-color: #2D97B0;
    color: white;
}
ul a:hover {
    background-color: rgb(151, 151, 151);
    color: white;
}
ul a:active {
    background-color: rgb(151, 151, 151);
    color: white;
}

/* section */

#search-bar{
    background-image: url("https://icon-icons.com/pt/icone/Zoom-pesquisar-localizar-localize/90835");
    background-repeat: no-repeat;
}
#media-search{
    border: 8px solid #F5F5F5;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-between;
}
a img{
    width: 20px;
    margin-left: 20px;
}
/* NAVBAR */